<h1>Dashboard#landingPage</h1>
<p>Find me in app/views/dashboard/landingPage.html.erb</p>

<%# @users.each do |user| %>
<%= @user.user_name %> is currently enrolled in:
<%# end %>


<%= @user.course_id %>
<%= @course.course_name %>


<%# end %>
<%#= link_to "Logout", logout_path, method: :delete %>

<%= link_to "Course Info", content_path %>
