<h1>Dashboard#landingPage</h1>
<p>Find me in app/views/dashboard/landingPage.html.erb</p>

<%# @users.each do |user| %>
<%= @user.userName %> is currently enrolled in:
<%# end %>


<%= @user.course_id %>
<%= @course.courseName %>


<%# end %>
<%#= link_to "Logout", logout_path, method: :delete %>

<%= link_to "", landing_path, id: :id %>
