/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

body {
  background-image: image-url('valley.jpg');
  //background-color: #ADD8E6;
  color: #333;
  font-family: helvetica, sans-serif;
  //font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;

}

header {
	background-color: #fff;
	height: 8%;
	max-width: 100%;
}


nav {
  background-color: #fff;
  max-width: 100%;
  padding: 2%;

}



a.login:link, a.login:visited {
    background-color: white;
    color: brown;
    border: 2px solid brown;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.login:hover, a.login:active {
    background-color: brown;
    color: white;
}

a.nav:link, a.nav:visited {
    background-color: white;
    color: black;
    padding: 9px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.nav:hover, a.nav:active {
    background-color: white;
    color: brown;
}


main {
 background-color: #fff;
 max-width: 60%;
 padding: 3%;
 margin: auto;
 margin-top: 10%;
 
}

